body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:#eee;
}

.hero{
text-align:center;
padding:60px;
background:#000;
}

nav{
position:sticky;
top:0;
background:#000;
padding:10px;
text-align:center;
}

nav a{
color:#aaa;
margin:10px;
text-decoration:none;
}

nav a:hover{color:#4cd137;}

.section{padding:50px;text-align:center;}
.dark{background:#111;}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:10px;
}

.card img{
width:100%;
border-radius:10px;
}

.card a{
display:block;
margin-top:10px;
color:#4cd137;
text-decoration:none;
}

.slider{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
}

.slider img{
width:260px;
border-radius:10px;
}

button{
background:#000;
color:#fff;
border:none;
font-size:24px;
cursor:pointer;
}

.story-link{
color:#4cd137;
font-size:18px;
text-decoration:none;
}

footer{
background:#000;
padding:15px;
text-align:center;
}
